# local env files
.env*.local
.env
.env.development
.env.production

# MacOS / Windows
.DS_Store
Thumbs.db

# Node.js / Next.js
node_modules/
.next/
out/
build/
dist/
.vercel
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python (Mock API)
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.venv/
.env/
pip-log.txt

# PyTorch (StyleTTS2 AI Backend)
*.pth
*.pt
*.cpkt
*.ckpt
*.onnx
*.weights
*.h5
logs/
checkpoints/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Output Audio Files
*.wav
*.mp3
*.flac
